<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Add</title>
</head>
<body>
    <h1><b>add book</b></h1>

        <form  action="/book_add" method="post">
            <label for="book_author">Book Author</label>
            <input type="text" id="book_author" name="book_author" required>
            <label for="book_title">Book Title</label>
            <input type="text" id="book_title" name="book_title" required>
	    <label for="book_page">Book Pages</label>
            <input type="text" id="book_page" name="book_page" required>
	    <label for="book_rating">Book Rating</label>
            <input type="text" id="book_rating" name="book_rating" required>
            <input type="submit" value="Submit">   
        </form>

</body>
</html>


